// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 220px;
  width: 220px;
}

.product {
     float: left;
     width: 250px;
     border: 1px solid #CCC;
     border-radius: 5px;
     width: 240px;
     height: 440px;
     padding-left: 20px;
     margin: 10px;
}

.product h2{
  height: 104px;
}
